<% provide(:title, "Help") %>
<h1>Help</h1>
<p> 
<h3>以下のFAQを参考にしてください</h3>
<p>
Q. アカウントが作成できない。<br>
A. セキュリティの関係上、パスワードが短すぎる場合はアカウントを作成することができません。</p>
<p>Q. アカウントに入力した事項を変更したい。<br>
A. 現在、アプリケーションの運用は試験段階です。事項の変更は今後出来る様になります。</p>
<p>Q. 資料を追加してもコメントページに移動しない。<br>
A. もしもGallica以外の図書館の資料は現在扱うことができません。もしも、Gallicaの資料を入力してもコメントページに移動しない場合は、閲覧している資料の最初のページに戻って、そのURLを入力してください。</p>
<p>Q. コメントの使い方がよくわからない。<br>
A. 詳しくは、aboutの利用方法をご覧ください。</p>
</p>
