<h1>Adding a books</h1>
<form name="geturl">
  Fetch URL: <input type="text" />
<input type="submit" id ="url" value="Get">
</form>
<script src="app/assets/javascripts/get_manifest_uri.js"></script>
<p>Please past your URL.</p>
